In [1]:
print ("Hola mundo")

Hola mundo

In [2]:
g = (4*2)
g

8

In [26]:
num =float (input("Ingrese un numero: "))
print ("El doble  es: ", num*2)

Ingrese un numero: 4
El doble  es:  8.0

In [27]:
num1=float(input("Ingrese un numero: "))
num2=float(input("Ingrese otro numero: "))
print ("La suma es: ", num1+num2)

Ingrese un numero: 5
Ingrese otro numero: 5
La suma es:  10.0

In [28]:
Lista =[1,2,4,5,6]
print("El primer numero es :", Lista[0])
print ("El ultimo numero es: ", Lista[4])

El primer numero es : 1
El ultimo numero es:  6

In [40]:
n = int (input("Ingrese un numero: "))
if n%2==0:
    print ("El numero es par")
else:
    print ("El numero es impar")

Ingrese un numero: 4
El numero es par

In [42]:
for i in range (1,11):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [55]:
print ("suma de numeros del 1 a 100 es :" , sum (range (1,101)))

suma de numeros del 1 a 100 es : 5050

In [62]:
ñ=int(input("Ingrese un numero: "))
print("el cuadrado de su numero es :",ñ**2)

Ingrese un numero: 5
el cuadrado de su numero es : 25

In [66]:
texto = input("Ingrese un texto: ")
vocales = "aeiouAEIOU"
contador = sum (1 for letra in texto if letra in vocales)
print ("el numero de vocales es: ", contador)

Ingrese un texto: hola como estas
el numero de vocales es:  6

In [67]:
lista = [1,2,3,4,5,6,7,8,9,10]
print("los numeros pares son: ")
for num in lista:
    if num % 2 == 0:
        print(num)

los numeros pares son:
2
4
6
8
10

In [68]:
edades = { "Genaro":18,"Natalia":18,"Jon":19}
nombre = input ("ingrese su nombre: ")
print ("Edad de ", nombre, ":", edades.get(nombre, "No se encontro la edad"))

ingrese su nombre: Genaro
Edad de  Genaro : 18

In [69]:
numeros = [1,4,6,9,45,2]
print ("numero mas grande:", max(numeros))

numero mas grande: 45

In [70]:
lista = [1,2,3,4,5,6,7,8,9,10]
def promedio (lista):
  return sum(lista)/len(lista)
print ("el promedio es: ", promedio(lista))

el promedio es:  5.5

In [71]:
palabra = input("Ingrese una palabra: ")
palabra_invertida = palabra[::-1]
print ("la palabra invertida es: ", palabra_invertida)

Ingrese una palabra: anitalavalatina
la palabra invertida es:  anitalavalatina

In [73]:
def mayor (a,b,c):
    if a>=b and a>=c:
        return a
    elif b>=a and b>=c:
        return b
    else:
        return c

In [74]:
mayor(1,55,6)

55

In [75]:
num = int(input("Ingrese un numero: "))
for i in range (1,11):
  print(f"{num} x {i} = {num*i}")

Ingrese un numero: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50